/*a[class=home]{
    background-color: darkgreen;
}*/

/*a[href*="meta"]{ background-color: darkorange;}*/

/*a[href="https://about.meta.com/"]{background-color: rgb(218, 141, 141);}*/

/* nth-of-type and nth-child selectors 

syntax of nth-child 
element: nth-child(n){
    property: value;
}

syntax of nth-type

element: nth-of-type(n){
    property: value;
}*/

li:nth-child(2){
    color: aqua;
}

*{
    color: rgb(114, 114, 161);
}